.inline-title {
    text-align: center;
}

/* EDIT MODE */

/* .HyperMD-header.HyperMD-header-1 {
    text-align: center;
} */

/* PREVIEW MODE */

/* .markdown-preview-view h1 {
    text-align: center;
} */

/* CUSTOM CALLOUTS */

.callout[data-callout="definition"] {
    --callout-color: 180, 150, 240;
    --callout-icon: lightbulb;
}

.callout[data-callout="theorem"] {
    --callout-color: 5, 160, 160;
    --callout-icon: key;
}

.callout[data-callout="help"] {
    --callout-color: 100, 221, 23;
    --callout-icon: help-circle;
}
